{% extends 'layout.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}


{% block content %}

    <div class="row">
       <div class="col-md-6 mx-auto">
           <div class="card">
               <div class="card-header bg-primary text-white">
                   <h4>register</h4>
               </div>
               <div class="card-body">
                    <form action="{% url 'register' %}" method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-outline-danger"><i class="fas fa-plus"></i> Register</button>
                    </form>
               </div>
               
                   
               
           </div>
       </div>
    </div>

{% endblock %}