{% extends 'layout.html' %}
{% load static %}

{% block content %}
    
    <div class="row text-center mt-10 border border-danger ">
    <div class="row border border-info ">
    <div id="countdownExample" >
      <div class="values"></div>
      </div>
    </div>
    {% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
    {% endif %}
    {% if candidates %}
        {% for candidate in candidates %}
        	<div class="col-md-4">
            <div class="card p-3 mt-5 mx-auto" style="border-radius: 25px; width: 30vw; height: 70vh; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1); font-size: 1.4vw;">
                <h2>Name: {{ candidate.name }}</h2>
                <h2>CandidateID: {{ candidate.user_id }}</h2>
                <h3>Age: {{ candidate.age }}</h3>
                <h4>Gender: {{ candidate.gender }}</h4>
                <h5>Party: {{ candidate.party }}</h5>
                <h6>Profession: {{ candidate.profession }} </h6>
                <h6>Criminal Records: {% if not candidate.criminal_records == False %} None {% else %} Present {% endif %}</h6>
                <form action="{% url 'create'  %}" method="POST" class="form-group">
                    {% csrf_token %}
                    <input type="hidden" name="candidate_id" value="{{ candidate.id }}">
                    <input type="submit" value="Vote" id="vote-button" class="btn btn-primary my-4">
                </form>
            
            </div> 
            </div>
        {% endfor %}
    {% else %}
    <p>No candidates yet</p>
    {% endif %}
    <div>
    </div>
    </div>
    </div>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.3/dist/easytimer.min.js"></script>
    <script src="{% static 'js/time.js' %}"></script>

{% endblock %}